In [1]:
import numpy as np
import pandas as pd
import stateEngine
from sklearn.linear_model import ElasticNetCV
from sklearn.datasets import make_regression

In [2]:
corpus = pd.read_csv("content/output.csv")
corpus.head()

,turn,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_9,...,jail_card_1,jail_card_2,agent_position_1,agent_position_2,agent_cash_1,agent_cash_2,agent_1_owed,agent_1_debt,agent_2_owed,agent_2_debt
0,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,1300.0,1500.0,0,0,0,0
1,1,0,0,0,0,0,0,-1,0,0,...,0,0,4,6,1300.0,1400.0,0,0,0,0
2,2,0,0,0,0,0,0,-1,0,0,...,0,0,13,6,1160.0,1400.0,0,0,0,0
3,3,0,0,0,0,0,0,-1,0,0,...,0,0,13,13,1170.0,1390.0,0,0,0,0
4,4,0,0,0,0,0,0,-1,0,0,...,0,0,19,13,970.0,1390.0,0,0,0,0

In [3]:
features = []
game = 0
prev = None
count = 0
for r in corpus.values:
    x = r.astype(np.int).tolist()
    v = [x[0], x[1:43], x[43:45], x[45:47], x[47:]]
    s = stateEngine.State(1, v)
    
    turnNo = s.currentTurnNumber()
    
    if(prev is None or turnNo < prev):
        game += 1
        
    features.append(np.append(np.array([game]), np.append(r, s.extract_features())))
    
    prev = turnNo
    
output = np.array(features)
headers = ['game'] + corpus.columns.values.tolist() + stateEngine.State(1, [[]]).extract_headers()
corpus = pd.DataFrame(output, columns=headers)
corpus.shape

(786, 64)

In [4]:
pd.set_option('display.max_columns', 1000)
corpus.head()

,game,turn,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_9,property_10,property_11,property_12,property_13,property_14,property_15,property_16,property_17,property_18,property_19,property_20,property_21,property_22,property_23,property_24,property_25,property_26,property_27,property_28,property_29,property_30,property_31,property_32,property_33,property_34,property_35,property_36,property_37,property_38,property_39,property_40,jail_card_1,jail_card_2,agent_position_1,agent_position_2,agent_cash_1,agent_cash_2,agent_1_owed,agent_1_debt,agent_2_owed,agent_2_debt,agent_netwealth_1,agent_netwealth_2,agent_liqassets_1,agent_liqassets_2,agent_propcount_1,agent_propcount_2,agent_monopoly_1,agent_monopoly_2,total_wealth,total_propoerty_count,agent_propratio_1,agent_prop_ratio_2
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1300.0,1500.0,0.0,0.0,0.0,0.0,1300.0,1500.0,0.0,0.0,0.0,0.0,0.0,0.0,2800.0,0.0,0.000000,0.000000
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,6.0,1300.0,1400.0,0.0,0.0,0.0,0.0,1300.0,1500.0,0.0,50.0,0.0,1.0,0.0,0.0,2800.0,1.0,0.000000,1.000000
2,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,6.0,1160.0,1400.0,0.0,0.0,0.0,0.0,1300.0,1500.0,70.0,50.0,1.0,1.0,0.0,0.0,2800.0,2.0,0.500000,0.500000
3,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,13.0,1170.0,1390.0,0.0,0.0,0.0,0.0,1310.0,1490.0,70.0,50.0,1.0,1.0,0.0,0.0,2800.0,2.0,0.500000,0.500000
4,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,13.0,970.0,1390.0,0.0,0.0,0.0,0.0,1310.0,1490.0,170.0,50.0,2.0,1.0,0.0,0.0,2800.0,3.0,0.666667,0.333333

In [5]:
game_list = corpus['game'].unique()
print(game_list)

[1. 2. 3. 4. 5. 6. 7. 8. 9.]

In [10]:
#Group by the game
game_list = corpus.groupby('game')
games = [group for _, group in game_list]

In [11]:
regerssor_vector_p1 = []
regressor_vector_p2 = []

In [ ]:
for game in games:
    target_var = game['total_wealth']
    game.drop('total_wealth', axis=1, inplace=True)
    e_net = ElasticNetCV(cv=5, random_state=0)
    e_net.fit(game, target_var)