In [1]:
import numpy as np
import pandas as pd
import stateEngine
from sklearn.linear_model import ElasticNetCV
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
corpus = pd.read_csv("content/output.csv")
corpus.head()

,turn,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_9,...,jail_card_1,jail_card_2,agent_position_1,agent_position_2,agent_cash_1,agent_cash_2,agent_1_owed,agent_1_debt,agent_2_owed,agent_2_debt
0,0,0,0,0,0,0,0,0,0,0,...,0,0,4,0,1300.0,1500.0,0,0,0,0
1,1,0,0,0,-1,0,0,0,0,0,...,0,0,4,3,1300.0,1440.0,0,0,0,0
2,2,0,0,0,-1,0,0,0,0,0,...,0,0,9,3,1180.0,1440.0,0,0,0,0
3,3,0,0,0,-1,0,0,0,0,0,...,0,0,9,11,1180.0,1300.0,0,0,0,0
4,4,0,0,0,-1,0,0,0,0,0,...,0,0,12,11,1030.0,1300.0,0,0,0,0

In [ ]:
features = []
game = 0
prev = None
count = 0
for r in corpus.values:
    x = r.tolist()
    v = [x[0], x[1:43], x[43:45], x[45:47], x[47:]]
    s = stateEngine.State(1, v)
    
    turnNo = s.currentTurnNumber()
    
    if(prev is None or turnNo < prev):
        game += 1
        
    features.append(np.append(np.array([game]), np.append(r, s.extract_features())))
    
    prev = turnNo
    
output = np.array(features)
headers = ['game'] + corpus.columns.values.tolist() + stateEngine.State(1, [[]]).extract_headers()
corpus = pd.DataFrame(output, columns=headers)
corpus = corpus[corpus.columns.drop(list(corpus.filter(regex='property')))]
corpus.shape

In [ ]:
pd.set_option('display.max_columns', 1000)
corpus.head()

In [ ]:
game_list = corpus['game'].unique()
print(game_list)

In [ ]:
#Group by the game
game_list = corpus.groupby('game')
games = [group for _, group in game_list if group.values.shape[0] > 50]

In [ ]:
regressor_vector_p1 = []
regressor_vector_p2 = []
test_set_x_1 = []
test_set_y_1 = []
test_set_x_2 = []
test_set_y_2 = []

In [ ]:
for game in games:
    t1 = game['agent_netwealth_1'].values
    t2 = game['agent_netwealth_2'].values
    
    X1_train, X1_test, y1_train, y1_test = train_test_split(game.drop('agent_netwealth_1', axis=1).values, t1, test_size=0.15)
    X2_train, X2_test, y2_train, y2_test = train_test_split(game.drop('agent_netwealth_2', axis=1).values, t2, test_size=0.15)
    
    e_net1 = ElasticNetCV(cv=10, random_state=0, max_iter=1e5)
    e_net1.fit(X1_train, y1_train)
    print(e_net1.score(X1_test, y1_test))
    
    
    e_net2 = ElasticNetCV(cv=10, random_state=0, max_iter=1e5)
    e_net2.fit(X2_train, y2_train)
    print(e_net2.score(X2_test, y2_test))
    
    test_set_x_2.append(X2_test)
    test_set_y_2.append(y2_test)
    test_set_x_1.append(X1_test)
    test_set_y_1.append(y1_test)
    
    regressor_vector_p1.append(e_net1.coef_)
    regressor_vector_p2.append(e_net2.coef_)
    
    del X1_train, X1_test, y1_train, y1_test, X2_train, X2_test, y2_train, y2_test

In [ ]:
weight1 = np.mean(np.array(regressor_vector_p1), axis=0)
weight2 = np.mean(np.array(regressor_vector_p2), axis=0)

In [ ]:
# np.concatenate(np.array(test_set_y_1))
y_hat_1 = np.dot(np.concatenate(np.array(test_set_x_1)), weight1.reshape(-1, 1)).flatten()
mean_squared_error(np.concatenate(np.array(test_set_y_1)), y_hat_1)

In [ ]:
y_hat_2 = np.dot(np.concatenate(np.array(test_set_x_2)), weight1.reshape(-1, 1)).flatten()
mean_squared_error(np.concatenate(np.array(test_set_y_2)), y_hat_2)